html {
    overflow: auto;
}

body {
    background: #6aa2ff;
    margin: 0;
    padding: 0;
}

.icon {
    width: 7vh;
    transform: none;
    transition: transform 0.25s ease;
    filter: brightness(0) invert(1);
    padding: 0 1vh;
}

.icon:hover {
    transform: scale(1.2);
    transition: transform 0.25s ease;
    filter: none;
}

.halfDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.basicDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.divBasico {
    background: #141d34;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.socialDiv {
    display: flex;
    flex-direction: row;
    width: 100;
    align-items: center;
    justify-content: center;
    padding: 0 0 1vh 0;
}

.profilePicture {
    float: right;
    width: 30vw;
    height: auto;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin-right: 10vw;
    margin-left: 5vw;
}

.profileName {
    text-align: center;
    font-size: 8vw;
}

.whiteText {
    color: #ffffff;
    text-align: center;
}

/*Navbar css*/
.navbar {
    background-color: #141d34;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw 0 0;
}

.navbar.sticky {
    position: fixed;
    width: 100%;
}

.navbar__brand {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 10vh;
    transform: none;
    transition: transform 0.25s ease;
    transition:  background-color 0.5s;
}

.navbar__brand:hover
{
    background-color: #0c111f;
    transform: scale(1);
    transition: transform 0.25s ease;
}

.navbar__links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__links li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar__links li:first-child {
    margin-left: 0;
}

.navbar__links li:last-child {
    margin-right: 2vw;
}

.navbar__links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
    height: 10vh;
    transform: none;
    transition: transform 0.25s ease;
    transition:  background-color 0.5s;
}

.navbar__links a:hover {
    text-decoration: underline;
    background-color: #0c111f;
    transform: scale(1);
    transition: transform 0.25s ease;
}


/* Mobile Navbar*/

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      height: auto;
    }
  
    .navbar a {
      padding: 10px;
      text-align: center;
      width: 100%;
    }
  }